// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #f2f5f7;

// my color scheme:

$my-dark-blue: #1a2c5b;
$my-blue: #3e4e88;
$my-light-blue: #7971ea;
$my-light-green: #b8dff0;
$my-button: #3E4EB7;
