<h1>Your Live Swaps</h1>

<% @requests.each do |request| %>
    <%= render 'shared/card', request: request  %>
    <%= link_to "", request_path(request.id), method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %>

<% end %>

<%= link_to 'Back', :back, class: "btn btn-success"  %>

