<div class="margin-h4">


  <h2>Your Live Swaps</h2>
</div>

<% @requests.each do |request| %>

<%#= render 'shared/card', request: request  %>
<%#= link_to "", request_path(request.id), method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %>

<div class="own-offer">
<ul class="slip-container">
  <li class="li-item">
    <div class="slide slide-1"><%= render 'shared/card', request: request  %></div>
    <div class="slide slide-2"><%= render 'shared/card', request: request  %><%= link_to "", request_path(request.id), method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %></div>
  </li>
</ul>
</div>

<% end %>

<div class="margin-h4 margin-top">

  <%#= link_to 'BACK', :back, class: "btn btn-primary"  %>

</div>



<!-- <button class="btn-red">RED</button> -->
