<h1> Your Offered Swaps </h1>

<%=  @requests.each do |request| %>
<%= if request.user.id == current_user.id %>
<%= request %>
<% end %>
<% end %>

<%= link_to 'Back', :back, class: "btn btn-success"  %>






