<div class="background">
  <div id="center-taglines">
    <h1> Swap My Dosh</h1>

    <div>
      <ul style="list-style: none;">
        <li>Matching Travellers</li>
        <li>Swapping Currencies</li>
        <li>Bypassing Fees</li>
      </ul>
    </div>
  </div>
</div>


