<div class="background">
  <div id="center-taglines">
    <h1> Swap My Dosh</h1>

    <div>
      <ul style="list-style: none;">
        <li>Matching Travellers</li>
        <li>Swapping Currencies</li>
        <li>Zero Fees</li>
      </ul>
    </div>
    <p id="homebutton"><%= link_to "Get started", new_request_path, class: "btn btn-success" %></p>
  </div>
</div>


