<div class="background">
    <h1 style="font-family: 'Permanent Marker', cursive;"> Swap My Dosh</h1>
      <div>
        <ul style="list-style: none;">
          <li>Matching Travellers</li>
          <li>Swapping Currencies</li>
          <li>Zero Fees</li>
        </ul>
      </div>
    <p id="homebutton"><%= link_to "GET STARTED", new_request_path, class: "btn btn-success" %></p>
</div>
