<h1> Your Completed Swaps </h1>



<% @completed_swaps.each do |offer| %>
  <% if offer.user.id == current_user.id %>
    <%= render 'shared/chat_card', offer: offer  %>
  <% elsif offer.request.user.id == current_user.id %>
    <%= render 'shared/chat_card', offer: offer  %>
  <% end %>
<% end %>



