
<h1> Some useful info</h1>

<div class="card-info">
<!--   <div class="class card-content"> -->
    <div class="class question">

      <h3>Where to swap</h3>
    </div>
    <div class="class text">
      <p>Meet at public spaces such as Coffeeshops, Airports, Hostels</p>
    </div>
 <!--  </div> -->
</div>

<br>

<div class="card-info">
<!--   <div class="class card-content"> -->
    <div class="class question">
      <h3>Amount to swap</h3>
    </div>
    <div class="class text">
      <p>Don't carry to much $$$ with you. Our recommended amount is between 50 to 500 USD</p>
    </div>
<!--   </div> -->
</div>

<br>

<div class="card-info">
  <!-- <div class="class card-content"> -->
    <div class="class question">

      <h3>Exchange rates</h3>
    </div>
    <div class="class text">
      <p>Have a look at a currency converter before you agree to the deal. This ensures the swapped amount is fair to both sides.</p>
    </div>
  <!-- </div> -->
</div>

<%= link_to 'BACK', :back, class: "btn btn-primary btn-form-next previous"  %>
