<div class="h2-styling">

<h2> Your open Chats </h2>
    <% @relevant_offers.each do |offer| %>
      <% if offer.user == current_user %>
</div>

        <%#= link_to "", request_offer_messages_path(offer.request.id, offer.id), class: "far fa-envelope" %>
        <%= render 'shared/chat_card', offer: offer  %>

      <% end %>
    <% end %>

    <div class="h2-styling">
      <h2>Responses</h2>
    </div>

    <% @relevant_offers.each do |offer| %>
      <% if offer.user != current_user %>
        <%#= link_to "", request_offer_messages_path(offer.request.id, offer.id), class: "far fa-envelope" %>
        <%= render 'shared/response_card', offer: offer  %>
      <% end %>
    <% end %>
<div class="margin-h4 margin-top">
  <%= link_to 'BACK', :back, class: "btn btn-primary btn-form-next previous"  %>
</div>





