<h1> Users Offer to Swap </h1>


<p> On here we need: </p>
<ul>
  <li>profile picture </li>
  <li>user description</li>
  <li>request information</li>
  <li>button to go vack to requests without creating an offer</li>
</ul>

<p>creating an offer here that directs to a chat</p>
<%= simple_form_for [@request, @offer] do |f| %>
<%=  f.submit %>
<% end %>




