.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.75);
    margin: 10px;
    position: relative;
    height: 120px;
}

.card-container:hover {
    // border: 1px solid black;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
}

.request-details {
    flex-grow: 1;
    // padding: 5px;
    padding-left: 10px;
    // width: 60%
}

.card-profile {}

.card-photo {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin: 0px;
    border-radius: 8px 0px 0px 8px;
    height: 120px;
    // display: flex;
    // justify-content: center;
}

.user-name {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    align-items: flex-start;
    font-size: 14px;
    color: gray;
    position: absolute;
    top: 5px;
}

.user-location {
    padding-top: 5px;
    padding-bottom: 20px;
    color: navy;
    position: absolute;
    top: 25px;
}

.swap-currencies {
    font-size: 14px;
    color: gray;
    position: absolute;
    bottom: 5px;
}

.swap-dates {
    font-size: 12px;
    color: gray;
}

.swap-amount {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: gray;
}
