
.review-card-container {
  background-color: #fff;
  padding: 20px 20px 20px;
  border-radius: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  min-height: 180px;
  width: 300px;
  overflow-wrap: break-word;
}
.word-break{
  height: 100px;
  max-width: 100%;
  white-space: nowrap;
  overflow: scroll;
  white-space: initial;
}

.review-avatar {
  border-radius: 100px;
  height: 65px;
  width: 65px;

  top: -30px;
  left: -120px;
}

.review-name {
  font-weight: bold;
  margin: 0;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .review-container {
    display: inline-block;
  }
}

.reviews ul {
  padding-left: 0;
}

.reviews-container {
    width: 325px;
  min-height: 300px;
}

.word-break {
  overflow-wrap: break-word;
}
