
h4{
  color: gray;
  padding-left: 5px;
}

.button-rating{
  margin-left: 190px;

}

.review-content{
  font-size: 14px;
}

.gray-background-rating{
    background-color: #f1f1f1;
    width: 101%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 3px;
    margin-top: 19px;
    font-size: 16px !important;
    border: 1px solid #adadad;
}

.rating-number{
   margin-left: 45%;

}
