    .slip-container {
        width: 375px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #EFF2F5;
        list-style-type: none;
    }

    .li-item {
      position: relative;
      height: 50px;
      width: 200%; /* because we have actually two divs slide-1 and slide-2 */
    }

    .li-item-slide-2 {
        transform: translate(-50%,0);
    }

    .li-item-slide-2 .slide-2 {
        /*text-align: right;*/
    }

    .slide {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      margin-bottom: 100px;

    }

    .btn-red {
        margin-top: 15px;
        background: red;
    }
.own-offer{
  height:200px;
  padding-bottom: 20px;
}
