
.background {

    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#center-taglines {
    color: white;
    text-align: center;
    margin-top: 30vh;
}

#homebutton {
  text-align: center;
  opacity: 0.9;
}

.btn {
  padding: 10px 20px;
  letter-spacing: 5px;
}

.form-input {
  height: 120px;
}
