
.background {

    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/316401/pexels-photo-316401.jpeg?cs=srgb&dl=bank-notes-bills-cash-316401.jpg&fm=jpg);
}

#center-taglines {
    color: white;
    text-align: center;
    margin-top: 30vh;
}

#homebutton {
  text-align: center;
  opacity: 0.9;
}

.btn {
  padding: 10px 20px;
  letter-spacing: 5px;
}

.form-input {
  height: 120px;
}

.filter {
    width: 100%;
    top: 70px;
    background-color: white;
  }

.flex-form {
    display: flex;
    padding-left: 13px;
    padding-top: 7px;
    padding-right: 13px;
    flex-wrap: wrap;
}

.filter-input {
    flex: 0 0 50% !important;
}

#btn-filter {
  color: white !important;
}

ol {
  padding-left: 0px;
}

.margin-h4 {
      margin: 0 21px;
}

.margin-top {
  margin-top: 20px;
}

.h2-styling h2 {
      margin: 0 !important;
    background: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.header-home {
  margin-top: 0px;
}
