
.background {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   // background-image: url(https://images.pexels.com/photos/316401/pexels-photo-316401.jpeg?cs=srgb&dl=bank-notes-bills-cash-316401.jpg&fm=jpg), linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%);
}

#center-taglines {
    color: white;
    text-align: center;
    margin-top: 30vh;
}

#homebutton {
  text-align: center;
  opacity: 0.9;
  font-size: 50px;
}

.btn {
  padding: 10px 20px;
  letter-spacing: 5px;
}

.form-input {
  height: 80px;
}

.filter {
    width: 100%;
    top: 70px;
    background-color: white;
  }

.flex-form {
    display: flex;
    padding-left: 13px;
    padding-top: 7px;
    padding-right: 13px;
    flex-wrap: wrap;
}

.filter-input {
    flex: 0 0 50% !important;
}

#btn-filter {
  color: white !important;
}

ol {
  padding-left: 0px;
}

.margin-h4 {
      margin: 0 21px;
}

.margin-top {
  margin-top: 20px;
}

.h2-styling h2 {
      margin: 0 !important;
    background: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.header-home {
  margin-top: 0px;
  font-size: 75px;
}

.text-white {
  color: white;
}

.list-home {
  padding-left: 0px;
  font-size: 33px;

}

.btn-home-big {
  font-size: 30px;
  margin-top: 80px;

}

.btn-form-next {
  font-size: 35px;
    opacity: 0.9;
}

.big-form {
    margin-top: 30px;
    font-size: 37px;
    font-weight: bold !important;
  }


#confirm {
  height: 100px;
  border: none !important;
  border-radius: 5px;
  padding: 10px 29px !important;
}

#decline {
  height: 100px;
  background-color: #EE6055;
    border: none !important;
    border-radius: 5px;
    padding: 10px 29px !important;
}

#send {
  width: 100px;
      border-radius: 5px;
          margin-right: 4px;


}

h1{
  margin-left:10px;
}

