.simple_form input {
  border-radius: 5px;
}

.chat-container {
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

.messages {
  font-size: 14px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  height: 60vh;
}

.message {
  display: flex;
  margin-bottom: 10px;
  min-width: 200px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #4b77cd;
    }
  }
}
.message-content {
  background-color: #42b3a2;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  max-width: 200px;
  overflow-wrap: break-word;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  border-radius-bottom: 5px;
}
.message_content {
  margin-bottom: 0;
}

.chat-buttons {
  display: flex;
  flex: space-between;
  margin: 0 auto;
  .btn {
    height: 40px;
    background-color: whitesmoke;
    width: 80px;
  }
}
textarea {
   display: block;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
}

#input-content {
  margin: 0 auto;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: white;
  box-shadow: 0 1px 1px #777;
  margin-bottom: 2px;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.content-container {
  margin-right:10px;
  margin-left: 10px;
}

.confirmation-message {
  font-size: 10px;
  text-align: center;

}

.message-form {
  position:relative;
  bottom: 0px;
}

.message-time {
  font-size: 8px;
  float:bottom-right;
}

.acceptance-question {

}

.acceptance-feedback {

}
  ul {
    list-style: none;
  }

    nav ul {
    height:500px;
    width:100%;

  }

  nav ul {
    overflow:hidden;
    overflow-y:scroll;
  }
