

.chat-container {
  margin-top: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 20px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 20px -2px rgba(0,0,0,0.75);
box-shadow: 2px 3px 9px 0px #cccccc61;
}

.acceptance-question {
  text-align: center;
  background-color: white;
}

.acceptance {
 padding: 3px;
 border-radius: 3px;
 width: 225px;
 margin-left: 25px;
}

.messages {
  font-size: 14px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  height: 50vh;
}

.message {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: $blue;
     -webkit-box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
     -moz-box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
     box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
    }
  }
}
.message-content {
  background-color: #3ECF8E;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  max-width: 200px;
  overflow-wrap: break-word;
  -webkit-box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
     -moz-box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
     box-shadow: 5px 12px 15px -14px rgba(0,0,0,0.75);
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}



.btnn-green{
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
  border: solid;
  color: white; ;
  font-weight: lighter;
  border-color: #3ECF8E ;
  background-color: #3ECF8E;
  box-shadow: 0px 2px 5px #888888;
}

a:hover {
  text-decoration: none;
  color: white;
}
.btnn-blue {
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
  border:solid;
  margin-right: 15px;
  color: grey; ;
  font-weight: lighter;
  border-color: grey ;
  background-color: white;

}

.swap-information {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.swapping-dates2 {
  margin-right: 15px;
}

.submit-button {
  padding: 5px 15px;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  border-radius-bottom: 5px;
  position:relative;
}
.message_content {
  margin-bottom: 0;
}

.chat-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 ;
  margin-left: 45px;
  .button {
    height: 40px;
    background-color: whitesmoke;
    width: 80px;
  }
}
textarea {
   display: block;
    margin-left: 0;
    margin-right: 0;
    width: 60%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
}

#input-content {
  margin: 0 auto;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 27px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  align-items: center;
  background-color: white;
  margin-bottom: 2px;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #888888;
  h4 {
    padding-left: 20px;
  }
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.content-container {
  margin-right:10px;
  margin-left: 10px;
}

.confirmation-message {
  font-size: 15px;
  text-align: center;
  a {
    color: #3ECF8E;
    font-size: 12px;
  }
}

.message-form {
  position:relative;
  bottom: 0px;
}

.message-time {
  font-size: 8px;
  float:bottom-right;
  margin-top: 3px;
}



  .flex-chat {
    display: flex;
  }



.spinner {

  width: 70px;
  text-align: center;
    margin-left: 200px;
    position: absolute;
    top: 10px;
    right: 130px;

}

.spinner > div {
  width: 3px;
  height: 3px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;

}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

